/* MASONRY GRID */

#content{
    margin-top: ;
    width: 100%;
    
}

.masonry {
    width: 100%;
    column-count: 1;
    column-gap: 0px;
    text-align: center;

}

@media (min-width: 800px) {
    .masonry{
        column-count: 2;
    }
}

@media (min-width: 1200px){
    .masonry{
        column-count: 3;
    }
}

.brick {
    display: inline-block;
    width: 97%;
    border-bottom: 1px solid #efefef;
 
}

.brick:hover {
    cursor: pointer;
}

@media (min-width: 1200px){
    .brick {
/*        box-shadow: 0 0 4px -1px rgba(00,00,00,.2);*/
       width: 100%;
        border: 1px solid #efefef;
        border-collapse: collapse;
    }
}

.brickImg {
    width: 100%;
}

