/* NU WEBSITE CSS */

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10pt;
	font: inherit;
	vertical-align: baseline;
}

a {
    font-style: none;
    text-decoration: none;
}





/* MOBILE FIRST */


html {
    font-family: 'Rajdhani', sans-serif;
    line-height: 1em;
    color: #555;
}

body {
    overflow-y: scroll;
}

@media (min-width: 640px){
    body{
        width: 75%;
        margin: 0 auto;
        padding: 0;
    }
}

/*
@media (min-width: 800px){
   body{
       width: 80%;
}
*/

    
    
    
    
/*---HEADER---*/

#homeheader {
    margin-top: 3%;
}

@media (min-width: 800px) {
    
    #homeheader {
        width: 49%;
    }
}
    
    

/*----HEADER IMG-----*/
    

.headerimg {
    width: 100%;
}

@media (min-width: 640px){
    .headerimg{
        width: 70%;
    }
}

@media (min-width: 800px){
    .headerimg{
        width: 40%;
    }
}

    
/*---------------*/
    

#header {
    z-index: 999;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #efefef;
/*    box-shadow: 0 2px 2px -2px rgba(00,00,00,.2);*/
}
    
    @media (min-width: 640px){
          #homeheader {
            margin-top: 10%;
            padding: 0;
              
            }
        
        #header {
            width: 75%;
            padding: 2rem 0 0 0;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        border-bottom: 1px solid #efefef;
        }
    }






/* HEADER CONTENT */

#headerContent {
    padding: 1.2em;
}

@media (min-width: 640px){
    #headerContent {
        padding: 0 0 1em 0;
    }
}

#thisis {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -.03em;
    line-height: .9em;
    color: #86883A;
    font-size: 3.5rem;
    margin-top: -1rem;
  
}

@media (min-width: 640px){
    #thisis {
        font-size: 4rem;
    }
}

@media (min-width: 800px){
       
    #thisis {
            font-size: 5rem;
            float: left;
        }
        
}

@media (min-width: 1024px){
    #thisis {
        font-size: 6rem;
    }
}
    
    @media (min-width: 1200px){
        #thisis {
            font-size: 8rem;
        }
    }

.internalh1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -.03em;
    color: #86883A;
    margin-top: .15em;
    line-height: .8em;
}

.internalh2 {
    margin-top: 1.25rem;
    line-height: 1.2rem;
    font-size: .9rem;
    font-weight: 400;
    color: #555; 
}

    @media (min-width: 640px){

        .internalh1 {
                font-size: 2.6rem;
        }
        
        .internalh2 {
            margin-top: 1em;
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
        
            
    }

@media (min-width: 768px){
    .internalh1{
        font-size: 4em
    }
    
    .internalh2 {
        font-size: 1.3em;
        font-weight: 400;
    }
}




/* NAV */

#nav {
    
}

.open {
    color: #86883A
}
.dropdown, nav1 {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5em;
    cursor: pointer;
}

.dropdown > span {
    font-size: 2rem;
    color: inherit;
    font-weight: 700;
    margin-right: .5em
}

@media (min-width: 1024px){
    .dropdown > span {
        margin-right: 0px;
    }
}

@media (min-width: 800px){
    #nav {
      width: 40%;
    float: right;  
    } 
    
}

@media (min-width: 1024px){
    #nav {
        width: 40%;
    }
}

@media (min-width: 1200px){
    #nav {
        width: 45%;
    }
}

.nav1 {
    width: 100%;
    left: 0;
}

.nav1:first-child {
    margin-top: .5em;
}

    @media (min-width: 640px){
        .nav1:first-child {
            margin-top: 2em;
        }

    }

    @media (min-width: 800px){
        .nav1:first-child {
            margin-top: -1em;
            
        }
    }

.nav1:hover{
    cursor: default;
}

.nav1 h3{
    font-size: 2.25rem;
    padding: 1.2rem;
    font-weight: 700;
   
}

@media (min-width: 640px){
    .nav1 h3 {
        font-size: 1.7em; 
    }
}

@media (min-width: 800px){
    .nav1 h3{
        font-size: 2em;
        margin-bottom: .15em;
    }
}
    
    @media (min-width: 1024px){
        .nav1 h3{
            font-size: 2.6em;
        }
    }
    
    @media (min-width: 1200px){
        .nav1 h3{
            font-size: 3.6em;
        }
    }

h3 a {
    color: #555;
}

h3 a:visited {
    color: #555;
}

@media (min-width: 640px){
    .nav1 {
        position: relative;
        position: relative;
        margin-left: .3em;
        
    }
    
    .nav1 h3{
        padding: .8em 0;
        border: none;
    }
    
   
}


/* NAV 2 */

.nav2 {
    width: 100%;
    padding: .75rem 0;
    background: #fff;
    font-weight: 400;
}

.nav2 a {
    padding-left: 3rem;
    color: #777;
    display: block;
    width: 100%;
    height: 100%;

}

.nav2opt:hover a{
    color: #fff;
}

.nav2opt {
    font-size: 1.1rem;
    padding: .75em 0;
    width: 100%;
    border-bottom: 1px solid #efefef;
}

@media (min-width: 640px){
    .nav2opt {
        font-size: 1.4rem;
        line-height: 1.5em
    }
}

.nav2opt:first-child{
    border-top: none;
}

.nav2opt:hover {
    background: #86883A;
    cursor: pointer;
}



@media (min-width: 640px){
    .nav2{
        padding: 0;
        margin-bottom: 1.2em;
        background: #fff;
        
    }
    
    .nav2 a {
        padding-left: 2.5rem;
    }
    
    .nav2opt {

        padding: .5rem;
        border: none;
    }
}

/* DROPDOWNS */

#graphicDesign_list{
     display: none;
}

#photography_list{
    display: none;
}

#video_list {
    display: none;
}

#passion_list {
    display: none;
}

#contact_list {
    display: none;
}


/* LIGHTBOX */

#lightbox{
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: rgba(240,240,240,.95);
    display: none;
}

#lightbox img{
    max-height: 90%;
    max-width: 90%;
    box-shadow: 0 0 5px -1px rgba(00,00,00,.33);
    border-radius: 5px;
}

#lightbox .fa-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #555;
    font-size: 1.5rem;
}

#lightbox .fa-close:hover {
    cursor: pointer;
}


/* RESPONSIVE VIDEO */

.responsive-video{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.responsive-video iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.wordycontent{
    margin-top: ;
    background: #fff !important;
    width: 90%;
    
}

.wordycontent p {
    margin: 0 auto;
    color: #555;
    padding: 1rem;
    padding-top: 0;
}

em {
    font-style: italic;
    color: #222;
}

#followme {
    width: 80%;
    border: 2px solid #ff4338;
    color: #ff4338;
    padding: 1.5rem;
    margin-top: .75em;
    text-align: center;
    font-size: 1.5rem;
    border-radius: .5rem;
    
}

#followme:hover {
    background: #ff4338;
    color: #fff;
}

@media (min-width: 640px){
    .wordycontent {
        width: 100% !important;

    }
    
    .wordycontent p {
        margin: 0;
        padding: 0 0 1em 0;
        
    }
    
    #followme {
        display: inline-block;
        margin-top: 1.5em;
        width: auto;
    }
}


/* MOBILE NAV/FOOTER */


#footerNav{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #efefef;
/*    box-shadow: 0 -2px 2px -2px rgba(00,00,00,.2);*/
}

#footerNav i.fa-angle-left {
      display: flex;
    padding: .75rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 2.3rem;
    color: #86883A;
}

#footercontact {
    display: flex;
    padding: .75rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: right;
    font-size: 1.5rem;
    color: #86883A;
    font-weight: 700;
    
}

@media (min-width: 640px){
    #footerNav {
        width: 75%;
        border-left: 1px solid #fff;
            border-right: 1px solid #fff;
    }
}
